

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

#img{
  height: 248px;
  width: 328px;
}

#food{
  width: 328px;
}

#col{
  width: 260px;
  height: 320px;
}

.img{
  width: 260px;
}

.img-login{
  height: 80%;
} 


  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }